* { box-sizing: border-box; }

.myimg{
  position: absolute
  top: 70px;
  right: 15px;
}

img {
  width : 450px;
  height: auto;
}
.tabs {
  position: relative;
  clear: both;
  margin: 350px;
  width: 650px;
}
.tab {
  float: left;
  position: relative;
}
.tab label {
  background: linear-gradient(#eee, #ccc);
  padding: 20px 50px;
  cursor: pointer;
  text-align: center;
  display: block;
  position: relative;
  border-radius: 55px;
}
.tab label i {
  font-style: normal;
  font-size: 10px;
  color: #aaa;
  position: absolute;
  right: 18px;
  top: 12px;
}
.tab [type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  opacity: 0;
  margin: 0;
  z-index: 1;
}
.content {
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 0;
  background:turquoise;
  color: white;
  padding: 20px;
  width: 500px;
}
.content ul {
  margin: 0;
  padding: 0;
  list-style: none;

}
.content a {
  color: white;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px solid #999;
  padding: 5px;
}
[type="radio"]:checked ~ label {
  z-index: 2;
}
[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}

.close-tab {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.close-tab label {
  background:turquoise;
  color: white;
}
[type="radio"]:checked ~ label ~ .close-tab {
  z-index: 4;
}